<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content">
    <div class="container">
    <p>Rent & Game</p>
  <form class="form-inline">
    <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-gamepad"></i></button>
  </form>
  <% if current_user %>
  <%= link_to "Log Out", destroy_user_session_path, method: 'delete', class:"btn btn-outline-success"
 %>
  <%= link_to "Edit User", edit_user_registration_path, class:"btn btn-outline-success
" %>
  <% else %>
  <%= link_to "Login", new_user_session_path, class:"btn btn-outline-success
" %>
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-success
" %>
  <% end %>
  </div>
</div>