<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content">
    <div class="container">
    <p>Rent & Game</p>
  <form class="form-inline">
    <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-gamepad"></i></button>
  </form>
  <%= link_to "Sign in", new_user_session_path, class:"btn btn-outline-success"%>
  </div>
</div>