.navbar-lewagon {
  justify-content: space-around;
  background: #FAFFFD;
}

.navbar-lewagon p{
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  font-size: 24px;
  }

.navbar-button-home {
  text-decoration: none;
  color: #f37258;
}

.btn {
  color:#f37258;
  border: 1px solid ;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  
}

.btn:hover{
  color:#FAFFFD;
  background-color: #f37258 ;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.btn-different {
  color: white;
  background-color:#925481;
  border: 1px solid;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  padding: 10px;
}

 .btn-different:hover{
   color:#925481;
   background-color: white;
}

.navbar p{
  color:#f37258;
  text-align: center;

}

.return-to-home{
  font-family: 'Bebas Neue', cursive;
  color:#f37258;
  font-size: 25px;
}

.return-to-home:hover{
  font-family: 'Bebas Neue', cursive;
  color:#f37258;
  font-size: 25px;
  text-decoration: none;
}