.navbar-lewagon {
  justify-content: space-between;
  background: #FAFFFD;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar-lewagon p{
  font-family: 'Bebas Neue', cursive;
  opacity: 0.8;
  margin-top: 5px;
  }

// .form-inline .form-control {
//   width: 500px;
// }

.navbar-button-home {
  text-decoration: none;
  color: #f37258;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.btn {
  color:#f37258;
  border: 1px solid ;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  
}

.btn:hover{
  color:#FAFFFD;
  background-color: #f37258 ;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.navbar p{
  color:#f37258;
  text-align: center;

}